:root {
    --cor1: #18153A;
}
* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    font-family: 'open sans';
    font-size: 2rem;
    color: var(--cor1);
}
h1{
font-family: 'montserrat';
font-size: 4.5rem;
}
h2{
font-family: 'montserrat';
font-size: 2.5rem; 
}
h3{
font-family: 'montserrat';
font-size: 2rem;
}

/*------------------------------------------------------------------------------*/
/*---------------------------------Estrutura------------------------------------*/

.main-content{
    max-width: 120rem;
    margin: 0 auto;
}
.fundo-svg {
    background-image: url(../img/main-svg.svg);
    background-size: cover;
    background-position: center center;
    background-size: 35rem;
    color: #fff;
}
.fundo2-svg{
    background-image: url(../img/second-svg.svg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    background-repeat:no-repeat
}

/*------------------------------------------------------------------------------*/
/*------------------------------------Menu--------------------------------------*/

.menu{
    background-color:white;
    height: 8rem;
    position: fixed;
    width: 100%;
    border-bottom: 0.1rem solid gray;
    z-index: 1;
}
.menu-content {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor1);
}
.logo{
    height: 5rem;
    width: 13rem;
}
.menu-content a {
    position: relative;
}
.menu-content nav ul {
    display: flex;
}
.menu-content ul li {
    height: 8rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center center;
}
.menu-content ul li a {
    list-style: none;
    display: block;
    height: 4rem;
    padding: 2rem;
    text-align: center center;
    text-decoration: none;
    color:inherit;
    font-size: 2.4rem;
}
.logo1::after{
    content:'';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: #18153A;
    transition: all 300ms ease-in-out;
}
.logo1:hover::after{
    width: 100%;
    left: 1%;
}
.menu-content ul li a:hover {
    background-color: rgba(24,21,58,0.8);
    transition:all 0.5s ease-in-out;
    text-shadow: 0.2rem 0.2rem 1rem #fff;
    text-decoration:underline;
    color: white;
}

/*------------------------------------------------------------------------------*/
/*----------------------------------INTRO---------------------------------------*/

.intro{
    height: 95vh;
    width: 100%;
    padding-top: 8.1rem;
    font-size: 1.5rem;
}
.intro-grid{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    align-items: center;
    height: 95vh;
}
.intro-text{
    text-align: center;
}
.intro-text .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center; 
}
.intro-text h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: -8rem;
    text-transform: uppercase; 
}
.intro-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    width: 100%;
}
.intro-img img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

/*------------------------------------------------------------------------------*/
/*-----------------------------------TOP 3--------------------------------------*/

.top3{
    height: 100vh;

}
.top3-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
    max-width: 80rem;
}

/*------------------------------------------------------------------------------*/
/*-----------------------------------Jobs---------------------------------------*/

.jobs{
    height: 100vh;
}

.jobs-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    max-width: 100rem;
}

.jobs-content h1 {
    text-transform: uppercase;
}
.jobs-content header {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.jobs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem; 
    height: 45vh;
    max-width: 100rem;
}
.jobs-grid article {
    text-align: center;
}
.jobs-grid article h2 {
    text-align: center;
    margin-bottom: 6rem;
}
.article3 p {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 25rem;
}

/*------------------------------------------------------------------------------*/
/*----------------------------------GALLERY-------------------------------------*/
 
.gallery {
    height: 100vh;
}